body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.h2MyClass{
    font-size: 32px;
}

.box2{
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 44px;
    background-color: #ea6644;
}

.btn-blue{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 24px;
    background-color: rgb(119, 119, 250);
    padding: 32px 16px;
    transition: 1s;
}

.liPersonalizada{
    list-style: georgian;
    color: rgb(175, 177, 48);
    font-size: 18px;
}